/**
 * @name         dimden's hotel theme
 * @description  idk
 * @author       dimden#9900
 * @version      2.0.0
 * @invite       5jm5P3SJF3
 * @authorId     258557706892214282
 * @website      https://dimden.dev
 * @donate       https://www.patreon.com/dimdendev
 */

body {
    font-family: "Terminus (TTF) for Windows", "MS UI Gothic" !important;
}

/* Username */
.username_d30d99 {
    font-weight: bold;
    text-shadow: 0 0 20px currentcolor, 0 0 50px currentcolor;
}
.repliedMessage_e2bf4a .username_d30d99 {
    text-shadow: none;
}

/* Headers */
.name__590d6,
.membersGroup__85843,
.headerText__051c0 {
    color: #2c9080;
    font-family: "Pixel NES";
    text-shadow: 0 0 3px #2c9080;
}

/* Avatars */
svg.svg_ad7356 > foreignObject,
svg.svg_f5b652 > foreignObject {
    mask: none;
    border-radius: 15%;
}
.hotel-msg-avatar {
    display: inline;
    border-radius: 3px;
    position: absolute;
    margin-left: 6px;
    margin-top: 4px;
    user-select: none;
}

/* Hexes */
.hotel-msg-userid {
    font-size: 14px !important;
    vertical-align: middle;
    font-family: "MS Gothic";
    text-shadow: 0 0 20px currentcolor;
    cursor: default;
    user-select: none;
    position: relative;
    right: 5px;
    bottom: 1px;
}
.hotel-msg-userid-voh {
    opacity: 0;
}
.message__80c10:hover .hotel-msg-userid-voh {
    opacity: 1;
}
.message__80c10:hover .hotel-msg-avatar {
    opacity: 0;
}
.timestamp_cdbd93 {
    font-size: 14px !important;
    vertical-align: text-top;
    overflow-y: hidden;
    font-family: "MS Gothic";
    position: relative;
    bottom: 2px;
    right: 4px;
}
.hotel-not-today {
    width: 80px !important;
}
.hotel-msg-avatar-media {
    margin-top: 24px;
}
.hotel-msg-avatar-not-today {
    margin-left: -20px;
}
.systemMessage__6e6a4 {
    margin-left: 88px;
}
.hotel-msg-date {
    color: #292929;
}
.separator__3f416 {
    z-index: -5;
    user-select: none;
}
.messageContent__21e69 {
    display: inline-table !important
}

/* Attachment */
.mediaAttachmentsContainer_edba75 {
    margin-left: 20px;
}
